
    <div class="container mt-5 pt-5 pb-4">
      <p class="text-center pb-1 RalewayFont main_title" >{{ data.Frase_Principal.0.titulo }}</p>
      <p class="text-center fs-2 SatisfyFont pb-5 " style="color: #8c8989;">Ingredientes Locales, Recetas Mundiales</p>
      <p class="text-center RalewayFont lh-lg mt-1 main_description">{{ data.Frase_Principal.0.descripcion }}</p>
      
      <div class="my-5 container-fluid d-flex align-items-center justify-content-center">
        <img class="img-fluid main_logo" src="../../../media/utilities/Logo_La_Madre.png" alt="None">
      </div>
    </div>

  
  
    <style>
        @media (max-width: 580px) {
            .main_title{
            font-size: 43px;
      
            }
            .main_description{
              font-size: 15px;
              margin-top: 30px;
            }
            .main_logo{
              width: 115px;
            }
        }
      
        @media (min-width: 581px) and (max-width: 992px){
            .main_title{
            font-size: 57px;
            margin-top: 30px;
            }
            .main_description{
              font-size: 19px;
              margin-top: 30px;
            }
            .main_logo{
              width: 120px;
              margin-top: 20px;
              margin-bottom: 50px;
            }
        }
        @media(min-width: 993px){
            .main_title{
            font-size: 85px;
      
            }
            .main_description{
              font-size: 18px;
              margin-top: 30px;
              margin-bottom: 10px;
            }
            .main_logo{
              width: 130px;
              margin-top: 20px;
              margin-bottom: 80px;
            }
        }
      
      </style>