

        <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-container">
          <div class="container-fluid">
            <img src="../../../media/utilities/Logo_La_Madre.png" width="125" class="img-fluid ms-lg-5 img-responsive img-fluid-sm img-fluid-lg img-nav-responsive" alt="...">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #F5811C;">
              <i class="bi bi-list" style="font-size: 30px; color: #fff;"></i>
            </button>
            <div class="collapse navbar-collapse text-white" id="navbarNav">
              <ul class="navbar-nav ms-auto ">
                <li class="nav-item fs-3">
                  <a class="nav-link active RalewayFont" aria-current="page" href="#" style="color: #F5811C;">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white RalewayFont" href="#">Menú</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white RalewayFont" href="#">Restaurantes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link fs-3 text-white RalewayFont" href="#">Domicilios</a>
                </li>
                <li class="nav-item d-flex align-items-center ms-lg-5">
                  <i class="bi bi-facebook fs-3 RalewayFont"></i>
                  <i class="bi bi-instagram fs-3 RalewayFont ms-3 d-lg-none"></i>
                </li>
                <li class="nav-item d-lg-flex align-items-center d-none ms-lg-3">
                  <i class="bi bi-instagram fs-3 RalewayFont"></i>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

  
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var navbar = document.querySelector(".navbar-container");
          
          window.addEventListener("scroll", function() {
            if (window.pageYOffset > 0) {
              navbar.classList.add("navbar-fixed");
            } else {
              navbar.classList.remove("navbar-fixed");
            }
          });
        });
      </script>
      
  
  <style>
  .navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  .navbar-fixed {
    position: fixed;
    background-color: #000;
  }
  
  .navbar-fixed {
    position: fixed;
    background-color: #212529;
  }
  
  
  @media (max-width: 580px) {
    .img-nav-responsive{
      width: 80px;
    }
  }
  
  @media (min-width: 581px) and (max-width: 992px){
    .img-nav-responsive{
      width: 90px;
    }
  }
  </style>